*.o
*.gmo
*.lo
*.la
/Makefile
/common/.deps/
/common/.libs/
/common/Makefile
/config.h
/config.log
/config.status
/docs/Makefile
/docs/reference/Makefile
/icons/128x128/Makefile
/icons/16x16/Makefile
/icons/24x24/Makefile
/icons/32x32/Makefile
/icons/48x48/Makefile
/icons/Makefile
/icons/scalable/Makefile
/libtool
/libxfce4panel/.deps/
/libxfce4panel/.libs/
/libxfce4panel/Libxfce4panel-2.0.gir
/libxfce4panel/Libxfce4panel-2.0.typelib
/libxfce4panel/Makefile
/libxfce4panel/libxfce4panel-2.0.pc
/libxfce4panel/libxfce4panel-2.0.vapi
/migrate/.deps/
/migrate/.libs/
/migrate/Makefile
/migrate/migrate
/panel-desktop-handler.desktop
/panel-preferences.desktop
/panel/.deps/
/panel/.libs/
/panel/Makefile
/panel/xfce4-panel
/plugins/Makefile
/plugins/actions/.deps/
/plugins/actions/.libs/
/plugins/actions/Makefile
/plugins/actions/actions.desktop
/plugins/actions/actions.desktop.in
/plugins/applicationsmenu/.deps/
/plugins/applicationsmenu/.libs/
/plugins/applicationsmenu/Makefile
/plugins/applicationsmenu/applicationsmenu.desktop
/plugins/applicationsmenu/applicationsmenu.desktop.in
/plugins/applicationsmenu/xfce4-popup-applicationsmenu
/plugins/clock/.deps/
/plugins/clock/.libs/
/plugins/clock/Makefile
/plugins/clock/clock.desktop
/plugins/clock/clock.desktop.in
/plugins/directorymenu/.deps/
/plugins/directorymenu/.libs/
/plugins/directorymenu/Makefile
/plugins/directorymenu/directorymenu.desktop
/plugins/directorymenu/directorymenu.desktop.in
/plugins/directorymenu/xfce4-popup-directorymenu
/plugins/launcher/.deps/
/plugins/launcher/.libs/
/plugins/launcher/Makefile
/plugins/launcher/launcher.desktop
/plugins/launcher/launcher.desktop.in
/plugins/pager/.deps/
/plugins/pager/.libs/
/plugins/pager/Makefile
/plugins/pager/pager.desktop
/plugins/pager/pager.desktop.in
/plugins/separator/.deps/
/plugins/separator/.libs/
/plugins/separator/Makefile
/plugins/separator/separator.desktop
/plugins/separator/separator.desktop.in
/plugins/showdesktop/.deps/
/plugins/showdesktop/.libs/
/plugins/showdesktop/Makefile
/plugins/showdesktop/showdesktop.desktop
/plugins/showdesktop/showdesktop.desktop.in
/plugins/systray/.deps/
/plugins/systray/.libs/
/plugins/systray/Makefile
/plugins/systray/systray.desktop
/plugins/systray/systray.desktop.in
/plugins/tasklist/.deps/
/plugins/tasklist/.libs/
/plugins/tasklist/Makefile
/plugins/tasklist/tasklist.desktop
/plugins/tasklist/tasklist.desktop.in
/plugins/windowmenu/.deps/
/plugins/windowmenu/.libs/
/plugins/windowmenu/Makefile
/plugins/windowmenu/windowmenu.desktop
/plugins/windowmenu/windowmenu.desktop.in
/plugins/windowmenu/xfce4-popup-windowmenu
/po/.intltool-merge-cache
/po/.intltool-merge-cache.lock
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/stamp-it
/stamp-h1
/wrapper/.deps/
/wrapper/.libs/
/wrapper/Makefile
/wrapper/wrapper-2.0
